<p>This is Author index page</p>
<p>{{username}}</p>
<header>
    <nav>   
        <a href="/author_index"></a>
        <ul>
            <li> <a href="/customer_index/customer_library">My books</a> </li> 
            <li> <a href="/customer_index/customer_update_personal_details"> Update Personal Details</a></li>
            <li>  <a href="/customer_index/customer_search">Search for book,author or category</a></li>
        </ul>
    <h2>Recently Added !!!</h2>
    {{#each listofrecent}}
    <li> <a href="/customer_index/individual_book_page/{{this.filename}}">{{this.bookname}} </a>  </li>
    {{/each}}
    <h2>
        List Of All Books
    </h2>
    {{#each listofbooks}}
    <li> <a href="/customer_index/individual_book_page/{{this.filename}}">{{this.bookname}} </a>  </li>
    
    {{/each}}
    </nav>

</header>
